# DATABASE CONFIGURATION
DB_HOST=mysql-db
DB_USER=root
DB_PASSWORD=your_strong_password_here
DB_NAME=rent_wa_blast

# SECURITY
# Gunakan string acak panjang untuk JWT
JWT_SECRET=input_random_secret_string_here

# WEBSOCKET & NETWORK
# IP VPS Anda atau domain yang mengarah ke worker
NEXT_PUBLIC_SOCKET_URL=http://202.155.95.154:5000
WORKER_PORT=5000

# NODE ENVIRONMENT
NODE_ENV=production
