@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset dasar biar tampilan bersih */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}
